<!DOCTYPE html>
<html>
  <head>
    <title>EventSwipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.profpicURL = "<%= image_url('profile_pic.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
