<!DOCTYPE html>
<html>
  <head>
    <title>EventSwipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.profpicURL = "<%= image_url('profile_pic.png') %>";
      window.splashURL = "<%= image_url("splash_party.jpg") %>";
      window.edclvURL = "<%= image_url('edclv_pic.jpg')%>";
      window.oktoberfestURL = "<%= image_url('oktoberfest.jpg')%>";
      window.toyURL = "<%= image_url('toy_drive.jpg')%>";
      window.animeURL = "<%= image_url('anime_pic.jpg')%>";
      window.frozenURL = "<%= image_url('frozen.jpeg')%>";
      window.picnicURL = "<%= image_url('picnic.jpg')%>";
      window.food = "<%= image_url('food.jpg')%>";
      window.dogs = "<%= image_url('dogs.jpg')%>";
      window.med = "<%= image_url('med_food.jpg')%>";
      window.portals = "<%= image_url('portals.png')%>";
      window.marathon = "<%= image_url('marathon.jpg')%>";
      window.gallery = "<%= image_url('gallery.jpg')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
